extends adminBase.pug
block content
    .row
        .container
            .admin-section
                .container
                    header
                        h5 Edit Institution name
                    form(action=`/admin/institution/${institution._id}/edit`, method='POST')
                        .row
                            .col.s12
                                .input-field
                                    input#institution.col.s10.validate(type='text' name='institution' value=institution.institution)
                                    label(for='institution') Name
                                    button.btn.s2.waves-effect.waves-light.teal SAVE
