footer.center
    .row.teal.darken-4.white-text.margin-less
        .container
            .col.s12.m4.l4
                h5.teal-text Navigation
                ul.bottom-nav
                    include nav-items.pug
                
            .col.s12.m4.l4
                h5.teal-text About Us
                p Competitions and programmes are the creation of JVEC Solutions, an educational firm based in Lagos State, Nigeria.
            .col.s12.m4.l4
                h5.teal-text Contact
                p Phone: 07069213833, 08185539466	
                p E-mail: jvecsoultion@gmail.com
        .col.s12.black
            p
                small &copy jvec solutions 2016.
