form.col.s12(action='/accounts/login', method='POST')
    .row.center
        .container
            h5
                strong Login
        .input-field.col.s12
            input(type='hidden', name='_csrf', value=csrf)
        .input-field.col.s12.l8.offset-l2
            input#username.validate(type='text', name='username' required)
            label(for='username') username
        .input-field.col.s12.l8.offset-l2
            input#icon_prefix.validate(type='password', name='password' required)
            label(for='icon_prefix') Password
        .col.s12
            button.waves-effect.waves-light.btn
                | LOG IN
            p.center  Don't have an account? 
                span
                    strong
                        | Click here to 
                        a(href='/accounts/sign-up') Sign Up
