form.col.s12(action='/accounts/login', method='POST')
    .row
        .container.center
            h5 Login
        .input-field.col.s12
            i.material-icons.prefix account_circle
            input#username.validate(type='text', name='username' required)
            label(for='username') username
        .input-field.col.s12
            i.material-icons.prefix vpn_key
            input#icon_prefix.validate(type='password', name='password' required)
            label(for='icon_prefix') Password
        .col.s12
            button.waves-effect.waves-light.btn
                i.material-icons.left send
                | LOG IN
            p  Don't have an account? 
                span
                    strong
                        | Click here to 
                        a(href='/accounts/sign-up') Sign Up
