li
  a(href='/') Home
if user
    li
      a(href='/accounts/logout') Log Out
else
    li
      a(href='/accounts/login') Log in
li
  a(href='/scholars-cup') Scholars Cup
li
  a(href='/scholars-bowl') Scholars Bowl
li
  a(href='/grants') Grants
li
  a(href='/vrtual-quiz') Virtual Quiz
li
  a(href='/news') News
li
  a(href='/ranking') Ranking
