if user && user.isStaff
    li
      a(href='/admin') Admin
if user
    li
      a(href='/dashboard') Dashboard

else
    li
      a(href='/accounts/login') Log in
//- li
  a(href='/scholars-cup') Scholars Cup
//- li
  a(href='/scholars-bowl') Scholars Bowl
//- li
  a(href='/grants') Grants
//- li
  a(href='/virtual-quiz') Virtual Quiz
li
  a(href='/news') News
li
  a(href='/ranking') Ranking
li
  a(href='/top-applicants') Top Applicants
li
  a(href='/faqs') FAQs
if user
    li
      a(href='/accounts/logout') Log Out
