-var url = endpoint || '/quiz-auth'
form.col.s12(action=url, method='POST')
    .row.col.m6.offset-m3
        .container.center
            .input-field.col.s12.l6
                input(type='hidden', name='_csrf', value=csrf)
            .input-field.col.s12.teal-text
                input.validate(type='text', name='token', placeholder='PIN', required, pattern='^[0-9]{12}$' title='input a 12 digit PIN' data-wrong='invalid')
                button.waves-effect.waves-light.btn.col.s6.offset-s3
                    | SUBMIT
