doctype

html
    head
        include includes/head.pug
            
    body
        header
            nav.teal.darken-4
                .nav-wrapper
                    a.brand-logo.push-15(href='/') Great Scholar
                    a.button-collapse(href='#footer-navigation', data-activates='nav-mobile')
                        i.material-icons menu
                    ul.right.hide-on-med-and-down
                        include includes/nav-items.pug
                    ul#nav-mobile.side-nav.teal.darken-2
                        include includes/nav-items.pug
        main
            != messages('messages', locals)
            block content
        include includes/footer.pug
        include includes/scripts.pug
