doctype

html
    head
        include includes/head.pug
            
    body
        header
            nav.teal.darken-4
                .nav-wrapper.container
                    a.brand-logo(href='/') Scholar
                    a.button-collapse(href='#', data-activates='nav-mobile')
                        i.material-icons menu
                    ul.right.hide-on-med-and-down
                        include includes/nav-items.pug
                    ul#nav-mobile.side-nav
                        include includes/nav-items.pug
        main
            != messages('messages', locals)
            block content
        include includes/footer.pug
        include includes/scripts.pug

        
