extends base.pug
block content
    .row
        .container
            .col.s12.center
                h1.error-code
                    strong.teal-text !{ status }
                h5.error-text !{ message }
