extends base.pug
block content
    .row
        .col.s12.teal.timer-container
            h4 
                strong
                    span#timer.right 06:30
        .container
            .col.s12
                h4 Pack name: #{pack.name}
                if pack.questions.length
                    form.quizForm(action="/virtual-quiz" method="POST")
                        include questionTemplate
                        .col.s12
                            br
                            br
                            button.waves-effect.waves-light.btn.col.s6.offset-s3
                                | SUBMIT
                                i.material-icons.right send
                else
                    .center.s12
                        h5 Nothing here.
