include includes/head
.row
    .container
        .col.s12.m8.offset-m2.intro-text
            h3.center
                strong INSTRUCTIONS
            p You are required to answer 30 multi-choice questions in 6 minutes 30 seconds.
            p Click on ‘Submit’ once you are done.
            p For every wrong answer you give, 0.4 will be deducted from your total score.
            p To proceed, input your PIN below.
            p Wishing you the very best.
            

        include includes/tokenAuthenticationForm
    .col.s12.m8.offset-m2.intro-text
        p
            strong.red-text
                | FOR BEST EXPERIENCE, USE A MODERN BROWSER e.g CHROME, FIREFOX
