extends base.pug
block content
    .row
        .col.s12.timer-container
            h5.teal
                strong
                    span#timer.right 06:30
        .container
            .col.s12
                if pack.questions.length
                    h6.bold To deselect an option, hold the 'Ctrl/Cmd' key and click
                    form.quizForm(action=url method="POST")
                        .input-field.col.s12.l6
                        include questionTemplate
                        .col.s12
                            br
                            br
                            button.waves-effect.waves-light.btn.col.s6.offset-s3
                                | SUBMIT
                else
                    .center.s12
                        h5 Nothing here.
