extends base
block content
    .row
        .container
            .col.s12
                h5 Your score is !{ score }
                h5 Correctly answered: !{ correct }
                h5 Wrongly answered: !{ wrong }
                h5 Total Unanswered: !{ unAnswered }
