html, body {
    background-color: #f5f5f5;
}

nav.navigation {
    background-color: #004d40;
}

.push-15 {
    margin-left: 15px;
}

.bottom-nav a {
    color: white;
}

main {
    margin-bottom: 100px;

}

.jumbo {
    background: url('/images/scholar.jpg') #f5f5f5 no-repeat center;
    min-height: 500px;
    /*filter: blur(1px);*/
}

.jumbo-text {
    margin-top: 10%;
    background-color: rgba(240, 244, 226, 0.3);
}

.faded {
    opacity: 0.8;
}

.intro-text {
    line-height: 2rem;
    word-spacing: 2px;
}

.login-notice {
    background-color: white;
}


footer {
    right: 0;
    bottom: 0;
    left: 0;
    line-height: 2rem;
}

.margin-less {
    margin: 0;
}

.messages {
    position: absolute;
    top: 60px;
    left: 10px;
    padding: 20px;
    border-radius: 4px;
    font-size: 20px;
    background-color: rgb(2, 145, 94);
    color: #ffffff;
}
