.col.s12
    form.col.s12(action=`/admin/pack/${pack.name}` method='POST')
        .input-field.col.s12
            textarea#question.materialize-textarea.validate(type='text', name='question')
            label(for='question') Question
        .input-field.col.s12.l6
            input#optionA.validate(type='text', name='optionA')
            label(for='optionA') option A
        .input-field.col.s12.l6
            input#optionB.validate(type='text', name='optionB')
            label(for='optionB') option B
        .input-field.col.s12.l6
            input#optionC.validate(type='text', name='optionC')
            label(for='optionC') option C
        .input-field.col.s12.l6
            input#optionD.validate(type='text', name='optionD')
            label(for='optionD') option D
        .input-field.col.s12.l6
            input#correctAnswer.validate(type='text', name='correctAnswer')
            label(for='correctAnswer') correct Answer
        .col.s12
            button.btn.waves-effect.waves-light.teal
                | CREATE QUESTION
            br
            br
            br
